#root {
    display: flex;
    direction: column;
    justify-content: center;
    align-items: center;
}

.chart-container {
    position: relative;
    height: 80vh;
    width: 100vw;
    margin: 0 auto;
}

.filter-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.filter-button.active {
    background-color: rgba(54, 162, 235, 1);
}
